#page {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 830px;
    border: 2px solid #181E1B;
    border-top: 0px;
    height: fit-content;
    color: #E0E1D6;

}
div
{
    height: fit-content;
    overflow: auto;
}

table {
    border-spacing: 0px;
    width:0.1%;
    border: 1px solid;
    border-color: #1E2825;
    empty-cells: show;


}
img {
  margin-right: 5px;
  margin-bottom: auto;
  margin-top: auto;
  width: 40%;
}
thead {
    text-align: center;
}
th {
    background-image: -webkit-linear-gradient(top, #181E1B, #5F7166);
    outline: 1px solid #1E2825;

}
th, td {
    
    text-align: center;
    font-variant: normal;
    border-color:#1E2825;
    padding: 5px;
    font-size: 16px;
      }

body{
    font-family: "Arial";
    margin: 0px;
    color: #1E2825;
    margin: 0px;
    background-image: url(../res/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    margin-top: 0;
    color: #E0E1D6;
    border-bottom: solid 1px #1E2825;
    font-variant: small-caps;

}
h3{
    color: #E0E1D6;
}
p{
    color: #E0E1D6;
}
#left {
    float: left;
    width: 50%;
}
#footer{
    clear: both;
    padding-top: 20px;
    color: #999;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#navbar {
    font-variant: normal;
    font-weight: bold;
    padding-left: 40px;
    height: 40px;
    overflow: auto;
    background: #708074 -webkit-gradient(linear, left top, left bottom, from(#5F7166), to(#181E1B), color-stop(50%, #5F7166), color-stop(51%, #59706C));
    list-style-type: none;
    margin: 0;
}
#navbar a {
    text-decoration: none;
    font-size: 14px;
    color: #1E2825;
  }
#navbar > ul > a {
  font-size: 14px;
}
#navbar ul {
    background-color: #708074;
    border-radius: 0px 0px 7px 7px;
}
#navbar a
{
 width: max-content;
 padding: 10px;
}
  
ul {
    padding: 0px;
}
#navbar li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);

}
#navbar li {
    border-right: 1px solid;
    border-color: #5F7166;
    float: left;
    height: max-content;
    display: inline-block;
}
.drop ul {
    display: none;
    position: absolute;
    background-color: #333;

}
.drop:hover ul {display: block;}
#content
{
    background: #59706C;
    padding: 20px;
    height: fit-content;
    overflow: auto;
}
#content a
{
    color: #181E1B;
    font-weight: bold;
    text-decoration: none;
}
#content a:hover
{
    text-decoration: underline;
}
h1{
    margin-top: 0;
}
#title {
    float: left;
    width: 360px;
}
#banner {
    padding: 10px;
    background: #59706C;
    border-bottom: 2px solid #181E1B;
    font-variant: small-caps;
}
#title a {
    width: 470px;
    font-size: 40px;
    color: #E0E1D6;
    text-decoration: none;
}
#title p {
    font-weight: bold;
    font-size: 16px;
    color: #1E2825;
}
#userpanel {
    float: right;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid #5F7166;
    width: fit-content;
}
#login {
    color: #E0E1D6;
}